.events__list-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #429a6d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }

  @media (max-width: 600px){
    .events__list-item {
      flex-direction: column;
    }
  }

  .events__list-item h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #429a6d;
  }
  
  .events__list-item h2 {
      margin: 0;
      font-size: 1rem;
      color: #7c7c7c;
  }
  
  .events__list-item p {
      margin: 0;
  }